<a href='javascript:history.back();'><b>Retour</b></a>
<br>
<font size='+2'><b>Aide Avatars</b></font>

<br>
<br>

Vous pouvez ajouté un avatar dans votre profil, celui ci servira pour vous representez, il apparaitra sur la carte 
<br>
et a d'autres endroit selon les desirs de l'Administrateur.
<br>
Si vous decidez de ne pas mettre d'avatar, dans ce cas, un avatar par default vous sera ajouté !!

<br>
<br>
<br>

<b><u>Pour obtenir un avatar par ImagesHack :</b></u>

<br>
<br>

Envoyer une image sur http://www.imageshack.us/

<br>
<br>

Puis copier le code au il y a ecrit Direct link

<br>
<br>

Et mettez le en face de avatar, l'avatar vous sera donc ajouté

<br>
<br>
<br>

<b><u>Pour obtenir un avatar en passant par un autre lien :</b></u>

<br>
<br>

Envoyer l'image la ou vous le desirez, ou trouvez une image sur le WEB

<br>
<br>

Lorsque l'image s'affiche, faite clique droit, Propriété, et recuperer le lien de l'image
<br>
et copier le dans le champ de l'inscription prevus pour ca et l'image vous sera ajouté

<br>
<br>

<a href='javascript:history.back();'><b>Retour</b></a>
