<!-- DEBUT Menu -->

<td width='20%' valign='top'>
<table>
	<tr>
		<td align="center">
			<b><u>Navigation</u></b>
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href='index.php'>Accueil</a>
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href='index.php?mod=login'>Connection</a>
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href='index.php?mod=nouveaupass'>Mot de passe perdu ?</a>
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href='index.php?mod=inscrire1'>Inscription</a>
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href='index.php?mod=news'>Les news</a>
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href='index.php?mod=screens'>Les screens</a>
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href='index.php?mod=reglement'>Reglement</a>
		</td>
	</tr>
</table>

</td>
    
    
<!-- FIN Menu -->