<!-- PHPSimul: Principal_log D -->

<body background="../templates/{{theme}}/images/juh.JPG" >




<link rel="stylesheet" type="text/css" href="../templates/{{theme}}/style.css">

<script src="../templates/{{theme}}/javascript.js"></script>

<head>

{{logo}}

</head>

<body>

<center>
<table border=0 valign='top' width='100%'>
	<tr valign='top'>
		<td>
			{{menu}}
		</td>
		<td valign='top'>
			{{page}}
		</td>
	</tr>
</table>
</center>

</body>

<foot>

<br>
<center><img src='../templates/{{theme}}/images/barre.jpg'>
<br>

{{nbconnect}}

<br>


</foot>

<!-- PHPSimul: Principal_log F -->
