<!-- PHPsimul : Carte batiments D -->

<div id="curseur" class="infobulle"></div>

<html>

<table border="0" cellpadding="0" cellspacing="0" align='center' valign='bottom'>

<tr>
<td background='templates/{{theme}}/images/carte/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{1}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{2}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{3}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{4}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{5}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{6}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{7}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{8}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{9}}
</td>
</tr>

<tr>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{10}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{11}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{12}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{13}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{14}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{15}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{16}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{17}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{18}}
</td>
</tr>

<tr>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{19}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{20}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{21}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{22}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{23}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{24}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{25}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{26}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{27}}
</td>
</tr>

<tr>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{28}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{29}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{30}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{31}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{32}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{33}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{34}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{35}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{36}}
</td>
</tr>

<tr>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{37}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{38}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{39}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{40}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{41}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{42}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{43}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{44}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{45}}
</td>
</tr>

<tr>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{46}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{47}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{48}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{49}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{50}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{51}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{52}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{53}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{54}}
</td>
</tr>

<tr>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{55}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{56}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{57}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{58}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{59}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{60}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{61}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{62}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{63}}
</td>
</tr>

<tr>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{64}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{65}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{66}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{67}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{68}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{69}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{70}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{71}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{72}}
</td>
</tr>

<tr>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{73}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{74}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{75}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{76}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{77}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{78}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{79}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{80}}
</td>
<td background='templates/{{theme}}/images/carte/{{ordre_3}}/fond.gif' width='64' height='64' align='center' valign='bottom'>
{{81}}
</td>
</tr>

</table>

</html>

<!-- PHPsimul : Carte batiments F -->
