
<tr>

	<td align='center' width='5%'>
		{{numero}}
	</td>
	<td align='center' width='20%'>
		<a class='url_in_classement' href="?mod=ecrire&destinataire={{nom}}", "1");'>
		<span class='url_in_classement'>{{nom}}</span></a></td>
	<td align='center' width='15%'>
		{{points}}
	</td>
	<td align='center' width='10%'>
		<a class='url_in_classement' href="?mod=races|{{race}}", "1");'>
		<span class='url_in_classement'>{{race_nom}}</span></a>	
	</td>
	<td align='center' width='15%'>
		{{alli}}
	</td>
	<td align='center' width='2%'>
		<a href="?mod=vprofil|{{id}}", "1");'>
      <img title='Voir le profil du joueur' alt='Voir le profil du joueur' src='templates/{{theme}}/images/vprofils.png'></a>
      <a href="?mod=listeamis&a=2&u={{id}}", "1");'>
      <img title='Proposer de devenir amis' alt='Proposer de devenir amis' src='templates/{{theme}}/images/listeamis.gif.png'></a>
   </td>
</tr>


