<!-- Listages des balises BBCode disponible sur la messagerie -->

<a href='javascript:history.back()'>Retour a la page précedente</a>
<font color='8A2BE2'><h1>Les Balises BBCode</h1></font>
<br>
<font size='4' color='0000FF'>
Mettre en gras: [b]*[/b]
<br>
Souligner: [u]*[/u]
<br>
Italique: [i]*[/i]
<br>
Centré: [center]*[/center]
<br>
Couleur: [color=*]*[/color]
<br>
Liste a puce 1: [ul]*[/ul]
<br>
Liste a puce 2: [li]*[/li]
<br>
Lien: [url]*[/url]
<br>
Lien nommé: [url=*]*[/url]
<br>
Image: [img]*[/img]
<br>
EMail : [email]*[/email]
<br>
EMail nommé: [email=*]*[/email]
<br>
Size H1: [size=h1]*[/size\]
<br>
Size H2: [size=h2]*[/size]
<br>
Size H3: [size=h3]*[/size]
<br>
Size H4: [size=h4]*\[/size]
<br>
Size H5: [size=h5]*[/size]
<br>
Size Tres Petit: [size=tres petit]*[/size]
<br>
Size Petit: [size=petit]*[/size]
<br>
Size Normal: [size=normal]*[/size]
<br>
Size Moyen: [size=moyen]*[/size]
<br>
Size Grand: [size=grand]*[/size]
<br>
Size 18: [size=18]*[/size]
<br>
Quote: [quote]*[/quote]
<br>
Quote nommé: [quote=*]*[/quote]
<br>
</font>
