<html>

<!-- Entete D -->

<link rel="stylesheet" type="text/css" href="../templates/{{theme}}/style.css">

<head>

{{logo}}

</head>

<!-- Entete F -->

<body>

<!-- Menu D -->

<center>
<table border=0 valign='top' width='100%'>
<tr>
{{menu}}
<td>

<!-- Menu F -->

<!-- Debut page -->
{{page}}

<!-- Fin page -->
</td>
</tr>
</table>
</center>


</body>

<foot>

<!-- Debut pied -->

<br><center><img src='../templates/{{theme}}/images/barre.jpg'><br>

{{nbconnect}}<br>

<img src='../templates/{{theme}}/images/barre.jpg'><br>
Ce jeu est basé sur le moteur <a href='http://forum.epic-arena.fr/' target='_blank'>PHPsimul</a>.</center>

</foot>

<!-- Fin pied -->

</html>