
	<tr>
	  <td><center><a href="index.php?mod=ecrire&destinataire={nom}">{nom}</a></center></th>
	  <td><center>{alli}</center></th>
	  <td><center>{bases}</center></th>
	  <td><center><a href="index.php?mod=map|{galaxie}|{systeme}">{coord}</a></center></th>
	  <td><center>{position}</center></th>
	  <td><center>
	  <a href='index.php?mod=vprofil|{id}'>
      <img title='Voir le profil du joueur' alt='Voir le profil du joueur' src='{templates}images/vprofils.png'></a>
	  <a href="index.php?mod=listeamis&a=2&u={id}" alt="{listeamis}">
	  <img src="{templates}images/listeamis.gif.png" alt="{listeamis}" title="{listeamis}" border="0"></a>
	  </center></th>
	  
	</tr>

