
<tr>

<td align="center" width="10%">
<div id="volunites{{nbvolunites}}" title="{{temps}}">{{temps_aff}}</div>
<span class='overview_color_heure'>{{temps_arrivé}}</span>
</td>

<td align="center" width="15%">
{{base_depart_nom}}
<br>
<a href="?mod=map|{{depart_ordre_1}}|{{depart_ordre_2}}">{{aff_coord_base_depart}}</a>
</td>

<td align="center" width="15%">
{{base_arriver_nom}}
<br>
<a href="?mod=map|{{arriver_ordre_1}}|{{arriver_ordre_2}}">{{aff_coord_base_arriver}}</a>
</td>

<td align="center" width="10%">
<font color="{{couleur_mission}}">{{mission}}</font>
</td>

</tr>

