:D %%% Tr&#232;s content %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_e_biggrin.gif" title="Très content" alt=":D">
:) %%% Sourire %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_e_smile.gif" title="Sourire" alt=":)">
;) %%% Clin d'oeil %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_e_wink.gif" title="Clin d'oeil" alt=";)">
:( %%% Triste %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_e_sad.gif" title="Triste" alt=":(">
:o %%% Surprise %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_e_surprised.gif" title="Surprise" alt=":o">
:shock: %%% Choqu&#233; %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_eek.gif" title="Choqué" alt=":shock:">
:? %%% Confus %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_e_confused.gif" title="Confus" alt=":?">
8-) %%% Cool %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_cool.gif" title="Cool" alt="8-)">
:lol: %%% Rire %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_lol.gif" title="Rire" alt=":lol:">
:x %%% Fou %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_mad.gif" title="Fou" alt=":x">
:P %%% Tire la langue %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_razz.gif" title="Tire la langue" alt=":P">
:oops: %%% Embarrass&#233; %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_redface.gif" title="Embarrassé" alt=":oops:">
:cry: %%% Tr&#232;s triste, en pleurs %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_cry.gif" title="Très triste, en pleurs" alt=":cry:">
:evil: %%% Diable %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_evil.gif" title="Diable" alt=":evil:">
:twisted: %%% Diable rieur %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_twisted.gif" title="Diable rieur" alt=":twisted:">
:roll: %%% Yeux tournant %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_rolleyes.gif" title="Yeux tournant" alt=":roll:">
:!: %%% Exclamation %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_exclaim.gif" title="Exclamation" alt=":!:">
:?: %%% Question %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_question.gif" title="Question" alt=":?:">
:idea: %%% Id&#233;e %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_idea.gif" title="Idée" alt=":idea:">
:arrow: %%% Fl&#232;che %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_arrow.gif" title="Flèche" alt=":arrow:">
:| %%% Neutre %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_neutral.gif" title="Neutre" alt=":|">
:mrgreen: %%% Mr. Vert %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_mrgreen.gif" title="Mr. Vert" alt=":mrgreen:">
:geek: %%% Geek %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_e_geek.gif" title="Geek" alt=":geek:">
:ugeek: %%% Geek barbu %%% <img src="http://www.adsv.fr/atlantisforum/images/smilies/icon_e_ugeek.gif" title="Geek barbu" alt=":ugeek:">